@import './base.css';

input,
select {
  border-radius: 2px !important;
}

.loading-xl {
  width: 3rem;
}

.loading-2xl {
  width: 3.5rem;
}

.loading-3xl {
  width: 4rem;
}

.custom_loading {
  @apply loading loading-infinity loading-2xl text-warning -mb-4;
}


.login_regiser_form {
  .form_label_label {
    @apply label font-bold px-0 py-1 join-item;
  }

  .form_label_span {
    @apply label-text text-lg;
  }

  .link_to_other {
    @apply label-text text-green-700 italic underline w-full text-center text-lg;
  }

  .main_btn {
    @apply btn bg-base-300 text-lg join-item capitalize;
  }

  .form_input {
    @apply input input-bordered join-item;
  }
}
